<body id="page-top">
  <header class="masthead">
      <div class="container-fluid" id="header-pic">
        <img class="img-fluid" src="assets/images/NY_street_ammar.jpg" alt="">
        <div class="intro-text">
          <span class="name">Treadway Photos</span>
          <hr class="star-light">
          <span class="skills">Photography - Media - Editing</span>
        </div>
      </div>
    </header>
</body>
