<h2>Categories</h2>

<% @categories.each do |category| %>
    <%= category.name.capitalize %><br>
    <br>
    <%= link_to 'Show', category %>
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
